/********* Generico *********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bordo{
    border: 2px solid green;
    border-style: dotted;
}
.bordo-lati{
    border-left: 2px solid green;
    border-right: 2px solid green;
    border-style: dotted;
}

.sfondo{
    background-color: blue;
    padding: 20px 0 20px 0;
}
.sfondo:nth-child(even){
    background-color: rgb(80, 80, 82);
    padding: 20px 0 20px 0;
}
.sfondo:nth-child(odd){
    background-color: rgb(255, 255, 255);
    padding: 20px 0 20px 0;
}
.sfondo:nth-child(even){
    background-color: grey;
}
/*********  *********/

/* Header */
header{
    background-color: aquamarine;
    height: 3rem;
}
nav{
    display: flex;
    width: 50vw;
    flex-grow: 0;
    justify-content: center;
    margin: auto;
    height: 100%;
}

nav li{
    display: inline;
    background-color: orange;
    text-align: center;
    width: 25%;
}
header span{
    margin: auto;
    background-color: orange;
}
.nav_big{
    flex-grow: 1;
    width: 50%;
}
/* Header */

main{
    margin: 20 px auto;
}

#primo{
    background-color: blue;
}

section{
    width: 30vw;
    height: 100%;
    background-color: rgb(226, 111, 130);
    margin: auto;
}


.flex{
    display: flex;
    justify-content: center;
    width: 100%;
}

.contenitore{
    width: 60%;
    height: 100%;
}
.sezione{
    height: 30vh;
    background-color: blue;
}

.sezione-big-1{
    width: calc(100% - 30%);
    height: 30vh;
    background-color: rgb(77, 88, 233);
    border: 2px solid green;
    border-style: dotted;
}
.sezione-big-2{
    width: calc(100% - 70%);
    height: 30vh;
    background-color: pink;
    border: 2px solid green;
    border-style: dotted;
}

.sezione-noflex{
    background-color: green;
    width: 100%;
    height: 45vh;
    margin: auto;
}

/* Footer */
footer{
    background-color: rgb(71, 71, 71);
}

.sezione-big-3{
    width: calc(100% - 30%);
    height: 30vh;
    background-color: rgb(238, 159, 128);
    border: 2px solid green;
    border-style: dotted;
}
.sezione-big-4{
    width: calc(100% - 70%);
    height: 30vh;
    background-color: rgb(57, 185, 224);
    border: 2px solid green;
    border-style: dotted;
}

.footerbuttons{
    height: 30px;
}
.footerbuttons-pulsanti {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 159, 168);
    margin: auto;
    padding: 15px 0;
}

footer span{
    margin: 0;
    background-color: orange;
}