/* Generico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bordo{
    border: 2px solid green;
    border-style: dotted;
}

.sfondo{
    background-color: blue;
    padding: 20px 0;
}
/*  */


header{
    background-color: aquamarine;
    height: 3rem;
}
nav{
    display: flex;
    width: 50vw;
    flex-grow: 0;
    justify-content: center;
    margin: auto;
    height: 100%;
}

nav li{
    display: inline;
    background-color: orange;
    text-align: center;
    width: 25%;
}
span{
    margin: auto;
}
.nav_big{
    flex-grow: 1;
    width: 50%;
}

main{
    margin: 20 px auto;
}
main:nth-child(1){
    background-color: blue;
}
main:nth-child(even){
    background-color: grey;
}
main:nth-child(odd){
    background-color: white;
}

main div{
    width: 45vw;
    height: 100%;
    background-color: pink;
    margin: auto;
}
.prova{
    width: 45vw;
    height: 30vh;
}
.flex{
    display: flex;
}
.sezione{
    width: 100vw;
    height: 30vh;
    background-color: lightblue;
}
.lista{
    width: calc(100% - 66%);
}